<% if (!user) { %>
  <p>Willkommen! Bitte <a href="/login/twitter">registriere</a> dich hier mit deinem OG-Twitteraccount.</p>
<% } else { %>
  <p>Du bist jetzt mit dem Account @<%= user.username %> für das System registriert! Du kannst dich hier <a href="/logout">ausloggen</a>. (Beendet NICHT die Verbindung mit dem System!)</p>
<% } %>